.left-half {
  padding: 10%;
}

.right-half {
  background-image: url('https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_960_720.jpg');
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1300px) {
  .hide-on-small {
    display: none;
  }
}