.left-half {
  padding: 10%;
}

.right-half {
  background-image: url('https://i.imgur.com/hsP1djf.jpg');
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1300px) {
  .hide-on-small {
    display: none;
  }
}